:root {
  --widget-background-color-dark: rgb(60, 61, 63);
  --widget-background-color-light: rgb(255, 255, 255);
  --main-background-color-dark: rgb(35, 35, 35);
  --main-background-color-light: rgb(235, 235, 235);
  --widget-background-color-dark-mobile: rgb(139, 141, 143);
  --widget-background-color-light-mobile: rgb(255, 255, 255);
  --border-radius: 25px;
  --border-radius-mobile: 15px;
  --searchbar-border-radius: 1rem;
  --searchbar-border-radius-mobile: 0.5rem;
  --font-color: rgb(171, 171, 171);
  --widget-background-color: var(--widget-background-color-light);
  --main-background-color: var(--main-background-color-light);
  --margin-x: 1%;
  --margin-y: 0.5%;
  font-family: "heebo", sans-serif;
}

[data-theme="dark"] {
  --widget-background-color: var(--widget-background-color-dark);
  --main-background-color: var(--main-background-color-dark);
}

/* Mobile */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto; 
  }

  .center-wrapper {
    width: 100%;
  }

  .widget {
    width: 100% !important;
    margin: 0;
  }

  #sidebar {
    display: none !important;
}

  #seven-day-forecast {
    width: 100% !important;
    margin: 0;
    padding-left: 0 !important;
    min-height: 30%;
  }

  #home-div {
    display: flex;
    flex-direction: row !important;
    align-items: center; 
    justify-content: space-between; 
    gap: 5px;
    
  }

  #home-div-mobile {
    display: flex !important;
    flex-direction: row !important;
    align-items: center; 
    justify-content: start; 
    gap: 5px;
    
  }


  #home-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #todays-forecast,
  #pollen-data {
    width: 100% !important;
    height: auto;
    margin: 0;
    
  }

  footer {
    display: none;
  }
}

#home-div-mobile {
  display: none;
}



/* LAYOUT HOME */
body {
  background-color: var(--main-background-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.widget {
  display: flex;
  background-color: var(--widget-background-color);
  border-radius: var(--border-radius);
  margin-top: var(--margin-y);
  margin-bottom: var(--margin-y);
  margin-left: var(--margin-x);
  margin-right: var(--margin-x)
}

#sidebar {
  width: 15dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

#search-cities {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
}

#search-cities form {
  width: 95%;
  display: flex;
}

.search-button {
  background: none;
  color: var(--font-color);
  border: none;
}

.searchbar {
  width: 100%;
  background-color: var(--widget-background-color);
  border: none;
  color: var(--font-color);
}

.searchbar::placeholder {
  color: var(--font-color);
  opacity: 0.7;
}

.searchbar:active,
.searchbar:focus {
  outline: none;
}

.home {
  font-size: 16px;
  margin: 0;
}

.home a {
  text-decoration: none;
  color: var(--font-color);
}

.home a:hover {
  text-decoration: underline;
}

.home a:active {
  color: rgb(130, 130, 130);
}

#home-icon {
  display: flex;
  /*align-items: center;*/
  margin-top: var(--margin-y);
  margin-left: var(--margin-x);
}

#home-div {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin-top: var(--margin-y);
  margin-left: var(--margin-x);
  max-width: 5%;
}

.home {
  display: flex;
  flex-direction: column;
}

#home-icon>a {
  text-decoration: none;
  color: var(--font-color);
}

#todays-forecast {
  width: 100%;
  height: 100dvh;
  margin-top: 3%;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.forecast-div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  align-items: center;

}

/* needs styling @LEON */

/* .day-forecast{

} */

.temp-div{
  padding: 10px;
  border-right-style: solid;
  height: 100px;

}

#pollen-data {
  width: 100%;
  text-align: center;
}

#seven-day-forecast {
  width: 30dvw;
  padding-left: 2.5%;
  padding-top: 1%;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.sidebar-item a {
  text-decoration: none;
  color: var(--font-color);
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}


/* About Us */

#about-us-wrapper {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}

#about-us {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

#about-us h1 {
  text-align: center;
}

#about-us-img {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#about-us-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

#about-us-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  #about-us-wrapper {
    flex-direction: column;
  }

  #about-us,
  #about-us-img {
    max-width: 100%;
    flex: 1 1 100%;
  }
}


/* DARK MODE SWITCH */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdcbcb;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

.footer {
  padding: 1%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer>p {
  margin-top: 0;
}

.icon-group {
  display: flex;
  flex-direction: row;
}

.icon-group>div {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-group>div>a {
  text-decoration: none;
  color: var(--font-color);
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}